*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body{
    background-color: #1a1616f1;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    position: relative;
    margin: 35px auto 0;
    width: 500px;
    height: 50px;
    background-color: #1a1616f1;
    font-size: 0;
    box-shadow: 0px 0px 4px 3px #444242f1;
    border-radius: 8px;
}

nav a{
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
    line-height: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: inline-block;
    transform: scaleX(1);
}

a:hover{
    color:  #27d885f1;
    font-size: 20px;
}

a:nth-child(1){
    width: 90px;
}
a:nth-child(2){
    width: 110px;
}
a:nth-child(3){
    width: 110px;
}
a:nth-child(4){
    width: 120px;
}
a:nth-child(5){
    width: 70px;
}
