*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background-color: #1a1616f1;
}

Nav{
    background-color: gradient();
    padding: 15px;
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    align-items: center;
    position: relative;
}

li{
    display: inline;
}

.HomeLogo{
    width: 100px;
    height: 100px;
}

/* Get this shit working without dumbass code like this or with lists */
.NavBarItems[1]{
    color: white;
}

.NavBarItemHome{
    float: right;
    position: relative;
    padding-right: 1%;
    font-size: 25px;
    color: white;
}

.NavBarItemHome::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2fc089;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
}
.NavBarItemHome:hover::before{
    transform: scaleX(1);
}

.NavBarItems{
    float: right;
    position: relative;
    padding-right: 1%;
    font-size: 25px;
    color: white;

}

.NavBarItems:hover::before{
    transform: scaleX(1);
}

.NavBarItems::before{
    content: "";
    position: absolute;
    display: block;
    width: 82%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2fc089;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
}